@import '../../styles/base';

.Ideabox {
    position: fixed;
    bottom: 70px;
    bottom: rem(70);
    right: $base-spacing-unit + px;
    right: rem(24);
    border: 0.125rem solid #d7dadd;
    border-radius: $brand-round;
    background-color: #eff7fb;
    padding: $double-spacing-unit +px $base-spacing-unit +px $base-spacing-unit +px;
    padding: rem($double-spacing-unit) rem($base-spacing-unit) rem($base-spacing-unit);
    box-shadow: rem(5) rem(5) 0 rgba(57,72,86,.5);
    box-shadow: 5px 5px 0 rgba(57,72,86,.5);
    max-width: 400px;
    max-width: rem(400);
  }

  .Ideabox-message,
  .Ideabox-header,
  .Ideabox-CTA {
    font-size: rem($centi-size);
    font-size: $centi-size + px;
  }

  .Ideabox-image {
    position: absolute;
    top: -31px;
    top: rem(-31);
    left: 45%;
  }

  .Ideabox-close {
    color: #9dcde6;
    font-size: $base-spacing-unit + px;
    font-size: rem($base-spacing-unit);
    position: absolute;
    top: rem(6);
    top: 6px;
    right: 10px;
    right: rem(10);

    &:hover {
      color: #87b7d0;
      text-decoration: none;
    }
  }

  .Ideabox-header {
    color: #1a5285;
    font-weight: 600;
  }


.Ideabox-hide {
  display: none;
}

.Ideabox-fadeIn-animation {;
  animation: ideabox-fadeIn-animation .85s ease-out;
}

.Ideabox-fadeOut-animation {
  animation: ideabox-fadeOut-animation .1s ease-in;
}

@keyframes ideabox-fadeIn-animation {
  0% { opacity: 0; background-color: #aab1b5; }
  100% { opacity: 1; background-color: #eff7fb; }
}

@keyframes ideabox-fadeOut-animation {
  0% { opacity: 1; background-color: #eff7fb; }
  100% { opacity: 0; background-color: #aab1b5; }
}