//************************************************************************//
// SASS FILE IMPORTS
//************************************************************************//

@import 'compass';
@import 'normalize';
@import 'fonts';
@import 'variables';
@import 'functions';
@import 'mixins';
@import 'tree-info';
@import 'flyout-menu';
@import 'navigation';

//************************************************************************//
// GLOBAL STYLES
//************************************************************************//

body {
	background: $litetan;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
}

button {
	padding: 15px 0;
	border: none;
	font-size: 12px;
	font-weight: bold;
	color: #fff;
	background: $green;

	&:focus {
		outline: none;
	}
}

form {
	
	@include form;
}

#app-container {
	width: 100%;
	@include position(relative);

	header {
		width: 100%;
		background: $litetan;
		@include position(relative);
		padding: 10px 0;
		border-bottom: 1px solid rgba(64, 53, 41, .2);

		> h1 {
			margin: 0 auto;
			font-size: 24px;
			color: $brown;
			text-align: center;
		}

		button {
			@include greenbutton;
		}
	}
}

#about-aat {
	@include position(absolute, 10px 10px 0 0);
	@include border-radius($radius);
	background: $yellow;
	width: 50px;
	height: 30px;
	text-align: center;

	span {
		display: block;
		font-size: 1.5em;
		margin-top: 4px;
		color: $brown;
	}
}

#action-list {
	margin: 10px 10px 80px 10px;
	padding: 0;
	border-top: 1px solid rgba(64, 53, 41, .2);

	li {
		border-bottom: 1px solid rgba(64, 53, 41, .2);
		list-style-type: none;
		padding: 15px;
		color: $green;
		font-weight: bold;

		> a {
			cursor: pointer;
			color: $green;
			display: table-row;

			> span {
				display: inline-block;

				&:first-child {
					color: $grey;
					width: 35px;
				}
			}
		}
	}
}

.no-border {
	border: none;
}
