#tree-info {
	padding: 10px;

	div {
		display: inline-block;
		vertical-align: top;
		margin-bottom: 10px;

		> ul {
			padding: 0;
			line-height: 1.375;
			margin: 0;
			margin-bottom: 10px;

			> li {
				display: table-row;
				line-height: 21px;
				font-size: 0.75em;

				> span {
					display: table-cell;
					vertical-align: bottom;
					color: $brown;

					&.tree-details {
						font-weight: bold;
						padding-left: 10px;
					}
				}
			}
		}

		> a {
			display: inline-block;
			font-size: 12px;
			font-weight: bold;
			color: $green;

			&:first-child {
				padding-right: 5px;
			}

			&:last-child {
				border-left: 2px solid rgba(0, 0, 0, .2);
				padding-left: 10px; 
			}

			> span {
				padding-right: 5px;
				color: $grey;
			}
		}
	}
}