//************************************************************************//
// VARIABLES
//************************************************************************//

$yellow: #ffe72c;
$brown: #403529;
$green: #00a85f;
$grey: #999999;
$litetan: #fffef4;
$darktan: #e8e6db;
$inputColor: #c5c1ba;
$radius: 4px;
$em-base: 16px !default;
$placeholders: '-webkit-input-placeholder',
               '-moz-placeholder',
               '-ms-input-placeholder';