// Buttons Groups
//
// Cohesive groupings of buttons that can be inline (default) or a block (<em>.ButtonGroup--block</em>).
// The block display requires a grid to assist with the layout.
//
// Markup:
// <div class="ButtonGroup">
//   <a href="#" class="Button Button--tertiary is-active">30 Days</a>
//   <a href="#" class="Button Button--tertiary">90 Days</a>
//   <a href="#" class="Button Button--tertiary">All</a>
// </div>
// <br><br>
// <div class="ButtonGroup">
//   <a href="#" class="Button Button--tertiary is-active"><i class="Button-icon Icon--copy"></i> Active</a>
//   <a href="#" class="Button Button--tertiary"><i class="Button-icon Icon--copy"></i> Active</a>
//   <a href="#" class="Button Button--tertiary"><i class="Button-icon Icon--copy"></i> Active</a>
// </div>
// <br><br>
// <div class="ButtonGroup ButtonGroup--block">
//   <div class="Grid">
//     <div class="Grid-item u-size1of3">
//       <a href="#" class="Button Button--tertiary is-active"><i class="Button-icon Icon--copy"></i> Active</a>
//     </div>
//     <div class="Grid-item u-size1of3">
//       <a href="#" class="Button Button--tertiary"><i class="Button-icon Icon--copy"></i> Active</a>
//     </div>
//     <div class="Grid-item u-size1of3">
//       <a href="#" class="Button Button--tertiary"><i class="Button-icon Icon--copy"></i> Active</a>
//     </div>
//   </div>
// </div>
//
// Styleguide 4.0.0

.ButtonGroup {
    font-size:0;
    margin-left: -$btnGroupSpacing;
    display: inline-block;
    .Button {
            font-size: $base-font-size;
            margin-left:$btnGroupSpacing;
            border-radius: 0;
    }
    .Button:first-child { border-radius: $btnRound 0 0 $btnRound; }
    .Button:last-child { border-radius: 0 $btnRound $btnRound 0; }
}
.ButtonGroup--block {
    display: block;
    margin-left:0;
    .Grid { margin-left:-$btnGroupSpacing }
    .Grid-item { padding-left:$btnGroupSpacing }
    .Button {
        display:block;
        margin-left:0;
        width:100%;
    }
}
