// Campaign Unit
//
// The Campaign Unit represents a summary of a campaign and is generally used on the Toolkit dashboard and Tookkit campaigns pages. There are two variations: a hero unit and a more collapse summary unit which is the default.
// 
// By default, this component is responsive. Under 481px it collapse to two rows with the title on top and the stats and actions dropdown in the second row.
// 
// From 481px to 768px the unit will shift to be side by side. By convention only two stats, at most, should be visible at this breakpoint. Use the classes <code>b1-u-hide</code> and <code>b2-u-showTableCell</code> as indicated below to hide columns. Each stat column with be expand to take up the amount of space the content inside of it needs and the title column will expand to consume to remaining space. Additionally, the dropdown shall lose the label and collapse to only show a caret.
// 
// From 769px and up all stats will be shown. Additionally, the stats columns will be converted to a minimum width to ensure that stats line up vertically on the page between each unit.
// 
// Note that the first (leftmost) stats column requires the classes <code>u-paddingLeftFlush</code> and <code>b1-u-paddingLeft</code> at all times.
//
// Markup: <article class="CampaignUnit">
//     <div class="CampaignUnit-column CampaignUnit-column--title">
//         <h1 class="CampaignUnit-title"><a href="#">My Awesome Email</a></h1>
//         <h2 class="Tagline">
//             <span class="Tagline-status u-colorActive"><i class="Icon--statusActive"></i> Active</span> 
//             <span class="Tagline-type">Newsletter</span>, created on 4/2/13, 7:43PM
//         </h2>
//     </div>
//     <div class="CampaignUnit-column u-paddingLeftFlush b1-u-paddingLeft">
//         <p class="Stat Stat--fixedWidth Stat--rwd"><a href="#" class="Stat-data">12</a> Opens</p>
//     </div>
//     <div class="CampaignUnit-column">
//         <p class="Stat Stat--fixedWidth Stat--rwd"><a href="#" class="Stat-data">12</a> Clicks</p>
//     </div>
//     <div class="CampaignUnit-column b1-u-hide b2-u-showTableCell">
//         <p class="Stat Stat--fixedWidth Stat--rwd"><a href="#" class="Stat-data">25</a> Sends</p>
//     </div>
//     <div class="CampaignUnit-column u-textRight">
//         <div class="Dropdown js-dropdown u-clearfix is-closed" data-hposition="right">
//             <button type="button" class="Dropdown-toggle js-dropdownTrigger u-textNoWrap">
//                 <span class="u-hide b2-u-showInlineBlock">Actions </span>
//	               <i class="Icon--roundedCaret"></i>
//             </button>
//             <ul class="Dropdown-menu u-textLeft">
//		           <li class="Dropdown-menu-item" data-value="One"><span>Copy</span></li>
//		           <li class="Dropdown-menu-item" data-value="Two"><span>Delete</span></li>
//		           <li class="Dropdown-menu-item" data-value="Three"><span>Edit</span></li>
//		           <li class="Dropdown-menu-item" data-value="Three"><span>Preview</span></li>
//		           <li class="Dropdown-menu-item" data-value="Three"><span>Schedule</span></li>
//	           </ul>
//         </div>
//     </div>
// </article>
// 
// Styleguide 12.0.0

.CampaignUnit {
	width: 100%;
	margin-bottom: rem($half-spacing-unit);
	padding: rem(16) rem(20);
	border: rem(2) solid #d7dadd;
	border-radius: rem($brand-round);
	color: $color4;

	@include rwd-b1() {
		display: table;
	}
}
	.CampaignUnit-column {
		display: table-cell;
		vertical-align: middle;
		padding-left: rem($base-spacing-unit);

		@include rwd-b1Max() {
        	width: rem(10000);
		}

		@include rwd-b2Max() {
			.Dropdown-toggle {
				padding: rem(4) rem(8);
			}

			.Icon--roundedCaret {
				margin-left: 0;
			}
		}
	}

	.CampaignUnit-column--title {
		display: block;
		width: 100%;
		padding: 0 0 rem($half-spacing-unit) 0;

		@include rwd-b1() {
			display: table-cell;
			vertical-align: middle;
			width: rem(10000);
			padding-bottom: 0;
		}
	}
	.CampaignUnit-title {
		margin-bottom: 0;
		@include font-size($h4-size);
		font-weight: 600;
	}
	.CampaignUnit-status {
		margin-bottom: 0;
		@include font-size($micro-size);
		text-transform: none;
	}
	.CampaignUnit--hero {
		background-color: #f9f9f9;

		.CampaignUnit-title {
			@include font-size($h3-size);
		}

		.CampaignUnit-column {
			display: inline-block;
			padding-left: 0;
	        width: 50%;

			@include rwd-b2() {
	       		width: 33.333%;
			}
		}
	}

// Hero Unit
//
// The modifier <em>CampaignUnit--hero</em> can be used to show the Hero Unit which has expanded data.
//
// Markup: <article class="CampaignUnit CampaignUnit--hero">
//     <div class="u-marginBottom">
//         <h1 class="CampaignUnit-title"><a href="#">Newsletter Created on April 28, 2013</a></h1>
//         <h2 class="Tagline">
//             <span class="Tagline-status u-colorActive"><i class="Icon--statusActive"></i> Active</span> 
//             <span class="Tagline-type">Newsletter</span>, created on 4/2/13, 7:43PM
//         </h2>
//     </div>
//     <div class="Grid Grid--gutter u-textCenter u-marginBottomHalf">
//         <div class="Grid-item u-size1of2 b2-u-size1of3">
//             <div class="Grid Grid--gutter u-inlineBlock u-clearfix u-marginBottomFlush">
//                 <div class="Grid-item b1-u-sizeShrinkWrapLeft">
//                     <p class="Stat Stat--large u-textCenter u-marginBottomHalf b1-marginBottomFlush"><a href="#" class="Stat-data">98</a> opens</p>
//                 </div>
//                 <div class="Grid-item u-sizeFill">
//                     <img src="images/demo-opens.png" class="u-sizeFull" alt="" />
//                 </div>
//             </div>
//         </div>
//         <div class="Grid-item u-size1of2 b2-u-size1of3 b2-u-borderRight b2-u-borderDashed b2-u-borderDark">
//             <div class="Grid Grid--gutter u-inlineBlock u-clearfix u-marginBottomFlush">
//                 <div class="Grid-item b1-u-sizeShrinkWrapLeft">
//                     <p class="Stat Stat--large u-textCenter u-marginBottomHalf b1-marginBottomFlush"><a href="#" class="Stat-data">27</a> Clicks</p>
//                 </div>
//                 <div class="Grid-item u-sizeFill">
//                     <img src="images/demo-opens.png" class="u-sizeFull" alt="" />
//                 </div>
//             </div>
//         </div>
//         <div class="Grid-item u-size1of3 u-hide b2-u-showInlineBlock">
//             <p class="Stat Stat--large u-textCenter"><span class="Stat-data u-colorSectionHeading">150</span> Total Sends</p>
//         </div>
//     </div>
// </article>
// 
// Styleguide 12.1.0