// Lists
//
// The default list style has rounded bullets and spacing defined. Optionally, a selected state can be assigned with the class <em>is-selected</em>. The header and footer (top and bottom list items) can optionally be styled with the classes <em>List-header</em> and <em>List-footer</em>.
//
// This convention is carried through all the variations of lists but the stying for the optional states may change to reflect each type of list.
//
// Markup: <ul class="List {$modifiers}">
//   <li class="List-header"><a href="#">Contacts (232)</a></li>
//   <li class="is-selected"><a href="#">Active (200)</a></li>
//   <li><a href="#">Unsubscribed (32)</a></li>
//   <li><a href="#">Awaiting Confirmation (1)</a></li>
//   <li class="List-footer"><a href="#">View All</a></li>
// </ul>
// 
// .List--starred - Change the icon to a star. If the <em>List-footer</em> class is used it will always revert back to a circle.
// .List--tags - Change the <em>List-header</em> icon to a tag icon.
// .List--folders - Changes all icons to a folder icon.
// .List--filters - Changes all icons to a filter icon.
// 
// Styleguide 9.0

.List {
	font-size: rem($centi-size);

	> li {
		position: relative;
		padding: 0;
	    line-height: 1;

	    &:before {
	      content: '';
	    }

		> a {
			position: relative;
			display: block;
			padding: rem($half-spacing-unit) 0 rem($half-spacing-unit) rem($base-spacing-unit * 1.5);
			text-decoration: none;
			color: $color4;
			line-height: 1.25;

			&:hover {
				background-color: #f8f8f8;
				border-radius: rem($brand-round);

				&:before {
					color: #1A5285;
				}
			}

			&:before {
				font-family: arial;
				position: absolute;
				top: rem(6);
				left: rem(12);
				content: '\2022';
				font-size: rem(24);
				color: $color6;
			}
		}

		> ul {
			width: 100%;
			padding-left: rem(18);
		}
	}

	.List-header {

		> a {
			color: #406e98;
			font-weight: 600;
		}
	}

	.List-footer {

		> a {
			color: #406e98;

			&:before {
				font-family: arial;
				position: absolute;
				top: rem(8);
				left: rem(12);
				content: '\2022';
				font-size: rem(24);
				color: $color6;
			}
		}
	}

	.is-selected {

		> a {
			background-color: $bgcolorSecondary2;
			color: #406e98;
			font-weight: bold;
			border-radius: rem($brand-round);

			&:before {
				color: #1A5285;
			}

			&:hover {
				background-color: $bgcolorSecondary2;
			}
		}
	}
}

	.List--starred {
		> li {

			> a {

				&:before {
					font-family: 'ctct_icon_font';
					content: "\e061";
					top: rem(12);
					left: rem(9);
					font-size: rem(14);
					color: #d1d3d4;
				}
			}

			&.List-header {

				> a {

					&:before {
						top: rem(11);
						font-family: 'ctct_icon_font';
						content: "\e002";
					}
				}
			}

			&.List-footer {

				> a {

					&:before {
						font-family: arial;
						top: rem(6);
						left: rem(12);
						content: '\2022';
						font-size: rem(24);
						color: #d1d3d4;
					}
				}
			}

			&.is-selected {

				> a {

					&:before {
						color: gold;
					}
				}
			}
		}
	}

	.List--tags {
		> .List-header {

			> a {

				&:before {
					font-family: 'ctct_icon_font';
					content: "\e00e";
					top: rem(13);
					left: rem(11);
					font-size: rem(12);
				}
			}
		}
	}

	.List--folders {
		> li {

			> a {

				&:before {
					font-family: 'ctct_icon_font';
					content: "\e04e";
					top: rem(13);
					left: rem(6);
					font-size: rem(14);
				}
			}

			&.is-selected {

				> a {
					background-color: transparent;
					color: #5b5b5b;

					&:before {
						font-family: 'ctct_icon_font';
						content: "\e04f";
					}
				}
			}
		}
	}

	.List--filters {
		> li {

			> a {

				&:before {
					font-family: 'ctct_icon_font';
					content: "\e010";
					top: rem(10);
					left: rem(6);
					font-size: rem(18);
					@include transform(rotate(-90deg));
				}
			}

			&.is-selected {

				> a {
					background-color: transparent;
					color: #5b5b5b;

					&:before {
						font-family: 'ctct_icon_font';
						content: "\e010";
						@include transform(rotate(0deg));
					}
				}
			}
		}
	}

// Overview List
//
// <code>List--overview</code> will create a list that separates list items with borders and removes list bullets. It will often be styled with icons.
//
// Markup: <ul class="List List--overview">
//     <li>
//         <a href="#" class="u-linkComplex"><i class="Icon--edit u-gamma u-valignMiddle"></i> <span class="u-linkComplex-target">Newsletters & Announcements</span> <span class="u-floatRight"><strong>4</strong></span></a>
//     </li>
//     <li>
//         <a href="#" class="u-linkComplex"><i class="Icon--edit u-gamma u-valignMiddle"></i> <span class="u-linkComplex-target">Offers & Promotions</span> <span class="u-floatRight"><strong>1</strong></span></a>
//     </li>
//     <li>
//         <a href="#" class="Button Button--primary Button--iconSmall u-floatRight"><i class="Button-icon Icon--plus"></i></a>
//         <a href="#" class="u-linkComplex"><i class="Icon--edit u-gamma u-valignMiddle"></i> <span class="u-linkComplex-target">Events & Registration</span></a>
//     </li>
//     <li>
//         <a href="#" class="Button Button--primary Button--iconSmall u-floatRight"><i class="Button-icon Icon--plus"></i></a>
//         <a href="#" class="u-linkComplex"><i class="Icon--edit u-gamma u-valignMiddle"></i> <span class="u-linkComplex-target">Feedback & Surveys</span></a>
//     </li>
//     <li>
//         <a href="#" class="u-linkComplex"><i class="Icon--edit u-gamma u-valignMiddle"></i> <span class="u-linkComplex-target">Drafts</span> <span class="u-floatRight"><strong>1</strong></span></a>
//     </li>
// </ul>
// 
// Styleguide 9.1

	.List--overview {

		> li {
			padding: rem($half-spacing-unit) rem(6);
			border-bottom: rem(1) solid $brdrColor;

			> a {
				padding: 0;
				color: $color3;

				&:hover {
					background-color: transparent;
				}

				&:before {
					content: '';
				}

				.Icon--plus {
					color: #fff;
				}
			}
		}

		.List-header {

			> a {
				color: $color3;
				font-weight: normal;

				&:before {
					content: '';
				}
			}
		}

		.List-footer {

			> a {
				color: $color3;

				&:before {
					content: '';
				}
			}
		}

		.is-selected {

			> a {
				background-color: transparent;
				color: $color3;
				font-weight: normal;
			}
		}
	}