// Messaging
//
// There are multiple types of messages: info, success, warning, and error. The default (info) message uses the class <code>Msg</code> and modifiers are used to change it into the other types: <code>Msg--success</code>, <code>Msg--warning</code>, and <code>Msg--error</code>.
// 
// Additionally, <code>Msg-heading</code> can be applied to a heading within a message.
// 
// The correct icon is automatically added.
//
// Markup: <div class="Msg">
//   <a href="#" class="Icon--close Msg-close" aria-role="button" aria-label="Dismiss this message"></a>
//   <p class="u-marginFlush">This is a message.</p>
// </div>
// <div class="Msg Msg--success">
//   <a href="#" class="Icon--close Msg-close" aria-role="button" aria-label="Dismiss this message"></a>
//   <p class="u-marginFlush">This is a success message.</p>
// </div>
// <div class="Msg Msg--error">
//   <a href="#" class="Icon--close Msg-close" aria-role="button" aria-label="Dismiss this message"></a>
//   <p class="u-marginFlush">This is an error message.</p>
// </div>
// <div class="Msg Msg--warning">
//   <a href="#" class="Icon--close Msg-close" aria-role="button" aria-label="Dismiss this message"></a>
//   <p class="u-marginFlush">This is a warning message.</p>
// </div>
// <div class="Msg Msg--success">
//   <a href="#" class="Icon--close Msg-close" aria-role="button" aria-label="Dismiss this message"></a>
//   <h2 class="Msg-heading">Message Heading</h2>
//   <p class="u-marginFlush">This is a succes message with a heading.</p>
// </div>
// 
// Styleguide 18.0

.Msg {
	position: relative;
	margin-bottom: rem($base-spacing-unit);
	padding: rem($half-spacing-unit) rem(68);
	border-width: rem(2);
	border-style: solid;
	border-radius: rem($brand-round);
	border-color: $bgcolorSecondary3;
	background-color: $bgcolorSecondary1;

	&:before {
		font-family: 'ctct_icon_font';
		content: "\e05d";
		position: absolute;
		top: rem(8);
		left: rem(18);
		font-size: rem(32);
		color: $bgcolorSecondary4;
		line-height: 1;
	}
}
	.Msg-heading {
		margin-bottom: 0;
		font-size: rem($h4-size);
		font-weight: 600;
	}
	.Msg-close {
		position: absolute;
		top: rem(15);
		right: rem(20);
		font-size: rem(20);
		color: $bgcolorSecondary3;
		line-height: 1;
		text-decoration: none;

		&:hover {
			color: darken($bgcolorSecondary3, 10%);
			text-decoration: none;
		}
	}

.Msg--success {
	border-color: $bgcolorNotification4;
	background-color: $bgcolorNotification3;

	.Msg-close {
		color: $bgcolorNotification4;

		&:hover {
			color: darken($bgcolorNotification4, 10%);
		}
	}

	&:before {
		content: "\e01d";
		color: $bgcolorNotification4;
	}
}

.Msg--error {
	border-color: $bgcolorNotification2;
	background-color: $bgcolorNotification1;

	.Msg-close {
		color: $bgcolorNotification2;

		&:hover {
			color: darken($bgcolorNotification2, 10%);
		}
	}

	&:before {
		content: "\e01a";
		left: rem(20);
		color: $bgcolorNotification2;
	}
}

.Msg--warning {
	border-color: $bgcolorNotification6;
	background-color: $bgcolorNotification5;

	.Msg-close {
		color: $bgcolorNotification6;

		&:hover {
			color: darken($bgcolorNotification6, 10%);
		}
	}

	&:before {
		content: "\e01a";
		left: rem(20);
		color: $bgcolorNotification6;
	}
}

// Complex messages
//
// The complex message style allows a more flexible format resulting in the ability to create messages such as the one below. Simply apply <code>Msg--complex</code> and use the Grid component to achieve the desired layout.
//
// Markup: <div class="Msg Msg--complex">
//   <a href="#" class="Icon--close Msg-close" aria-role="button" aria-label="Dismiss this message"></a>
//   <div class="Grid Grid--gutter u-clearfix">
//     <div class="Grid-item u-sizeShrinkWrapLeft u-hide b2-u-show">
//       <img src="images/demo-messaging.png" alt="" />
//     </div>
//     <div class="Grid-item u-sizeShrinkWrapRight">
//       <button class="Button Button--secondary u-marginTopHalf">Buy Now</button>
//     </div>
//     <div class="Grid-item u-sizeFill">
//       <h2 class="Msg-heading">Success!</h2>
//       <p class="u-marginFlush"><a href="#">Buy now</a> or call 1-888-555-1212 to keep your active campaigns running, publish new ones, and send to unlimited contacts.</p>
//     </div>
//   </div>
// </div>
// 
// Styleguide 18.1

.Msg--complex {
	padding: rem($half-spacing-unit) rem(68) rem($half-spacing-unit) rem(20);

	.Grid {
		margin-bottom: 0;
	}

	&:before {
		content: "";
	}
}

// Floating messages
//
// Floating (absolutely positioned) messages can be achieved by using the <code>Msg--float</code> modifier. This will also cause the message box to shrink to fit the content.
// 
// Note: Negative margin has been added only to serve to illustrate the floating nature of the element. Do not use this in prodcuction code.<br /><br /><br />
//
// Markup: <div class="Msg Msg--warning Msg--float" style="margin:-65px 0 0 33%;">
//   <a href="#" class="Icon--close Msg-close" aria-role="button" aria-label="Dismiss this message"></a>
//   <p class="u-marginFlush">This is a floating message.</p>
// </div>
// 
// Styleguide 18.2

.Msg--float {
	position: absolute;
	display: inline-block;
	box-shadow: 0 0 rem(5) rgba(88,97,55,.2);
}