.DataToolbar {
	margin-bottom: rem($base-spacing-unit);
	@include font-size($centi-size);
	color: $color4;
}
	.DataToolbar-group {
		display: inline-block;

		> li,
		> div {
			display: inline-block;
			white-space: nowrap;

			> .Icon--caretLeft,
			> .Icon--caretRight {
				@include font-size($centi-size);
				padding: rem($half-spacing-unit);
				border-radius: rem($brand-round);
				background-color: #eff7fb;
				color: $color3;
				text-decoration: none;
			}
		}

		[class^="Icon--"],
		[class*=" Icon--"] {
			vertical-align: middle;
		}

		> li {
			padding: 0;

			&:before {
				content: "";
			}
		}
	}

// Galileo Toolbar
// 
// The Galileo toolbar is used in the editing experience for the new editing experience. The undo and redo links are disabled to start and will be dynamically enabled once the undo stack becomes populated.
//
// Markup: <div class="GalileoToolbar">
//     <div class="GalileoToolbar-title b3-u-tableCell b3-u-paddingTopFlush b3-u-paddingRight">
//         <h1 class="GalileoToolbar-heading">This is a reltively long title for a campaign</h1>
//     </div>
//     <div class="b3-u-tableCell u-valignMiddle">
//         <div class="u-table b3-u-marginEndsHalf">
//             <menu class="u-tableCell u-textNoWrap u-paddingFlush">
//                 <ul class="GalileoToolbar-menu">
//                     <li class="GalileoToolbar-menuItem">
//                         <a title="New" href="#" class="u-linkComplex trackable">
//                             <span class="Icon--wireframe"></span>
//                             <span class="u-linkComplex-target" aria-hidden="true">New</span>
//                         </a>
//                     </li>
//                   <li class="GalileoToolbar-menuItem">
//                       <a title="Save" href="#" class="u-linkComplex trackable">
//                           <span class="Icon--disk"></span>
//                           <span class="u-linkComplex-target" aria-hidden="true">Save</span>
//                       </a>
//                   </li>
//                   <li class="GalileoToolbar-menuItem">
//                       <a title="Undo" href="#" class="u-linkComplex u-linkDisabled">
//                           <span class="Icon--undo"></span>
//                           <span class="u-linkComplex-target" aria-hidden="true">Undo</span>
//                       </a>
//                   </li>
//                   <li class="GalileoToolbar-menuItem">
//                       <a title="Redo" href="#" class="u-linkComplex u-linkDisabled">
//                           <span class="Icon--redo"></span>
//                           <span class="u-linkComplex-target" aria-hidden="true">Redo</span>
//                       </a>
//                   </li>
//                 </ul>
//             </menu>
//             <div class="u-tableCell u-textNoWrap u-textRight u-paddingLeft">
//                 <ul class="GalileoToolbar-menu">
//                   <li class="GalileoToolbar-menuItem">
//                       <a title="Preview" href="#" class="u-linkComplex">
//                           <span class="Icon--eye"></span>
//                           <span class="u-linkComplex-target" aria-hidden="true">Preview</span>
//                       </a>
//                   </li>
//                   <li class="GalileoToolbar-menuItem">
//                     <button type="button" title="Choose recipients and schedule when to send" class="Button Button--primary">Prepare to Send</button>
//                   </li>
//                </ul>
//            </div>
//         </div>
//     </div>
// </div>
// 
// Styleguide 19.0.0

.GalileoToolbar {
	display: table;
	width: 100%;
}
	.GalileoToolbar-title {
		width: 100%;
		margin: 0;
		padding-right: rem($double-spacing-unit);
		vertical-align: middle;
	}
		.GalileoToolbar-heading {
			margin: 0;
			font-weight: 600;
			@include font-size($h3-size);
		}
	.GalileoToolbar-menu {
		margin: 0;
	}
		.GalileoToolbar-menuItem {
			display: inline-block;
			margin-right: rem($base-spacing-unit);
			padding: 0;
			@include font-size(16);

			&:before {
				content: "";
			}
		}