// Tooltip
//
// The Tooltip Tooltip is a port of Twitter Bootsrap's script and allows us to display a short, simple, tooltip on a hover event.
//
// Full documentation can be found: http://getbootstrap.com/javascript/#tooltips
//
// To use a tooltip add the class <code>js-tooltip</code> to an inline element. Block level elements will not work properly as the script won't always be able to accurately align the tooltip.
//
// The data attribute <code>data-placement</code> can be used to place the tooltip to the top, left, right, or bottom of the element.
//
// The content for the tooltip must be entered in the <code>title</code> attribute.
//
// To initialize use this script at the end of the <code>&lt;body></code> tag:
// <pre>if ($('.js-tooltip').length) {
// 	$('.js-tooltip').tooltip({
// 	  container: 'body'
// 	});
// }</pre>
//
// Markup: <button class="Button js-tooltip" data-toggle="tooltip" data-placement="left" title="Tooltip on left">Tooltip Left</button>
// <button class="Button js-tooltip" data-toggle="tooltip" title="Tooltip on top">Tooltip Top</button>
// <button class="Button js-tooltip" data-toggle="tooltip" data-placement="bottom" title="Tooltip on bottom">Tooltip Bottom</button>
// <button class="Button js-tooltip" data-toggle="tooltip" data-placement="right" title="Tooltip on right">Tooltip Right</button>
//
// Styleguide 16.0.0

.Tooltip {
	position: absolute;
	z-index: 1000;
	border-radius: rem($brand-round);
	box-shadow: rem(3) rem(3) 0 rgba(57,72,86,.2);

	&:before {
		content: " ";
		position: absolute;
		width: rem(10);
		height: rem(10);
		background-color: $bgcolorPrimary6;
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		transform: rotate(45deg);
	}
}
	.Tooltip-inner {
		position: relative;
		z-index: 100;
		padding: rem($half-spacing-unit);
		border-radius: rem($brand-round);
		background-color: $bgcolorPrimary6;
		@include font-size($centi-size);
		color: $bgcolorPrimary1;
	}

.Tooltip--light {
	border: rem(1) solid $brdrColorDark;

	> .Tooltip-inner {
		background-color: $bgcolorPrimary1;
		color: $color5;
	}

	&:before {
		background-color: $bgcolorPrimary1;
		border: rem(1) solid $brdrColorDark;
	}
}

.Tooltip--top {
	margin-top: rem(-12);

	&:before {
		left: 50%;
		bottom: rem(-5);
		margin-left: rem(-5);
	}
}

.Tooltip--right {
	margin-left: 12px;

	&:before {
		top: 50%;
		left: rem(-5);
		margin-top: rem(-5);
	}
}

.Tooltip--bottom {
	margin-top: 12px;

	&:before {
		left: 50%;
		top: rem(-5);
		margin-left: rem(-5);
	}
}

.Tooltip--left {
	margin-left: -12px;

	&:before {
		top: 50%;
		right: rem(-5);
		margin-top: rem(-5);
	}
}

// Tooltip - Light
//
// This modifier changes the appearance of the tooltip to a light background and border with dark text.
//
// To use this modifier add the following data-attribute to the element: <code>data-modifier="Tooltip--light"</code>.
//
// Markup: <button class="Button js-tooltip" data-toggle="tooltip" data-placement="left" data-modifier="Tooltip--light" title="Tooltip on left">Tooltip Left</button>
// <button class="Button js-tooltip" data-toggle="tooltip" data-modifier="Tooltip--light" title="Tooltip on top">Tooltip Top</button>
// <button class="Button js-tooltip" data-toggle="tooltip" data-placement="bottom" data-modifier="Tooltip--light" title="Tooltip on bottom">Tooltip Bottom</button>
// <button class="Button js-tooltip" data-toggle="tooltip" data-placement="right" data-modifier="Tooltip--light" title="Tooltip on right">Tooltip Right</button>
//
// Styleguide 16.1
