@import '../../styles/base';

body {
  background-color: $bgcolorPrimary1; // Strictly for design visibility purposes
}

.CampaignMetricsCard {
  display: table;
  width: 100%;
  background-color: #fff;
  padding: rem(24);
}

.CampaignMetricsCard-checkbox,
.CampaignMetricsCard-status,
.CampaignMetricsCard-metricContent,
.CampaignMetricsCard-campaign,
.CampaignMetricsCard-dropdown {
  display: table-cell;
  vertical-align: top;
  padding-right: rem(24);
}

.CampaignMetricsCard-metricContent {
  width: 100%;
}

.CampaignMetricsCard-metrics {
  display: flex;
  flex-flow: row wrap;
}

.CampaignMetricsCard-data {
  display: table;
  table-layout: fixed;
  min-width: rem(100);
  height: rem(100);
  vertical-align: middle;
  margin: rem(6) rem(6) 0 0;
  box-sizing: border-box;
  background-color: $bgcolorPrimary1;
}

.CampaignMetricsCard-dataWrapper {
  display: table-cell;
  vertical-align: middle;
}

.Metrics-measurment,
.Metrics-metricCategory {
  text-align: center;
  display: block;
}

.CampaignMetrics-show {
  background-color: $bgcolorSecondary1;
  text-align: center;
  display: table;
  cursor: pointer;

  &:hover {
    background-color: #ecf4f8;
  }

  > span {
    display: table-cell;
    vertical-align: middle;
  }
}

.CampaignMetricsCard-campaignImage {
  padding: 0!important;
}

.CampaignMetricsCard-checkbox[type=checkbox]+label {
  top: 5px;
  padding: 0;
}

.CampaignMetricsCard-dropdown {
  padding-right: 0;

  > span {
    display: block;
    line-height: 0.5;
    color: $bgcolorAccent1;
  }
}

//*************************************************
//    JS classes
//*************************************************

.js-Metrics-dataHidden { display: none; }
.js-Metrics-hideTrigger { display: none; }
.js-Metrics-animationIn { animation: fade .4s ease-in; transform: translateZ(0); }

//*************************************************
//    Animation classes
//*************************************************

@keyframes fade {
  from {
    transform: scale3d(1, 1, 1);
    background-color: rgba(248, 248, 248, .1);
  }

  50% {
    transform: scale3d(1.03, 1.03, 1.03);
    background-color: rgba(248, 248, 248, 1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}