@import '../../global-stylesheet/global';

body {
	background-image: url('../../images/map.png');
}

#adoption-modal {
	width: 95%;
	max-width: 375px;
	margin: 10px auto 0;
	background: $litetan;
	@include box-shadow(1px 1px 1px rgba(0, 0, 0, .3));

	#tree-info {
		
		#tree-image-container {
			width: 6em;
			background: $darktan;
			height: 140px;
			overflow: hidden;
			
			img {
				max-width: 100%;
			}

			span {
				color: $litetan;
				display: block;
				font-size: 3em;
				text-align: center;
				margin-top: 25px;

				&:nth-of-type(2) {
					font-size: 1em;
					margin-top: 10px;
				}
			}
		}

		button {
			width: 100%;
			margin: 0 auto;
			@include border-radius($radius);
			background: $green;
			color: $litetan;
			display: block;
			font-size: 1.5em;
			letter-spacing: 3px;
			padding: 10px 0;

			&.already-adopted-btn {
				background: $inputColor;
			}
		}

		li {
			height: 28px;
		}
	}

	button {
		width: 50%;
		background: transparent;
		color: $green;
		font-weight: normal;
	}

	&:before {
		content: " ";
		width: 0;
		height: 0;
		border-left: 15px solid transparent;
		border-right: 15px solid transparent;
		border-top: 10px solid $litetan;
		@include position(absolute, 0 0 -10px 50%);
		margin-left: -10px;
		z-index: 10;
	}

	&:after {
		content: " ";
		width: 0;
		height: 18px;
		border-left: 15px solid transparent;
		border-right: 15px solid transparent;
		border-top: 10px solid rgba(0, 0, 0, 0.2);
		@include position(absolute, 0 0 -29px 50.2%);
		margin-left: -10px;
	}
}


