body {
	background: #505050;
	font-family: arial;
}

.placeholder-btn-group {
	float: left;
	display: inline-block;
	position: relative;
}

.placeholder-btn-group .placeholder-btn {
	padding: 12px 10px;
	background: #505050;
	font-size: 14px;
	color: rgba(255, 255, 255, .3);
	border: none;
	text-shadow: -1px -1px 1px rgba(0, 0, 0, .2);
	box-shadow: inset 1px 1px 1px rgba(255, 255, 255, .2), 1px 1px 3px rgba(0, 0, 0, .3);
}

.placeholder-btn-group .placeholder-btn.border-left-radius {
	border-radius: 4px 0 0 4px;
}

.placeholder-btn-group .placeholder-btn.border-right-radius {
	border-radius: 0 4px 4px 0;
}

.placeholder-btn-group > button:nth-child(2) {
	position: absolute;
	top: 0;
	left: 106px;
}

.placeholder-btn.selected {  /* Javascript control */
	border-color: #141414;
	border-bottom: 1px solid rgba(0, 0, 0, .2);
	box-shadow: inset 1px 1px 3px rgba(0, 0, 0, .5);
	background: #404040;
	color: rgba(255, 255, 255, .9);
}