<!DOCTYPE html>
%html.fed-wrapper
  %head
    %title Engineers4Engineers
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %meta{name: 'viewport', content: 'initial-scale=1.0', width: 'device-width'}
  %body
    #container.Grid
      .Grid-item
        %header
          %nav
            / .menu-button
            /   %a{href:'#mobile-menu'} Menu
            .nav-inner
              %ul.nav
                %li
                  %a{href: '/speakers'} Speakers
                %li
                  %a{href: '/#schedule'} Schedule
                %li.icon-ctct-logo
                %li
                  %a{href: '/#venue'} Venue
                %li
                  %a{href: '/#about'} About
          .Feature
            %img.featureImg(src='/assets/e4e-2014-logo.svg' alt='Engineers for Engineers conference logo')
            %h1.featureHeader Developer Conference
            .meta-inner
              %h2.featureSubHead September 12
              %h2.featureSubHead Waltham, MA
            / Need the URL for this
            %a.featureCTA{:href => ""} Register Now 
        = yield
