
 //
 // All @font-face declarations must be placed in this file so that they are not
 // placed inside the fed-wrapper.
 //

// Icon font
@font-face {
  font-family: 'ctct_icon_font';
  src: url('#{$font-path}/icon_font_20131114.eot');
  src: local("☺"),
       url('#{$font-path}/icon_font_20131114.eot?#iefix') format('embedded-opentype'),
       url('#{$font-path}/icon_font_20131114.woff') format('woff'),
       url('#{$font-path}/icon_font_20131114.ttf') format('truetype'),
       url('#{$font-path}/icon_font_20131114.svg#icon_font_20131114') format('svg');
  font-weight: normal;
  font-style: normal;
}