#container
  %header
    %nav
      .menu-button
        %a{href:'#mobile-menu'} Menu
      .nav-inner
        %ul.nav
          %li
            %a{href: '#top'} Home
          %li
            %a{href: '#attend'} Attend
          %li.icon-ctct-logo
          %li
            %a{href: '#schedule'} Schedule
          %li
            %a{href: '#speakers'} Speakers
    %section.feature
      %section.feature-inner
        %img{src: '/assets/e4e-logo.png'}
    %section.meta
      %section.meta-inner
        %ul
          %li
            %span.icon-calendar
            %h5 Date
            %h6 June 28, 2013
          %li
            %span.icon-world
            %h5 Location
            %h6 Waltham, MA
          %li
            %span.icon-clock
            %h5 Time
            %h6 9AM - 4PM
  %main
    %br
    %iframe{:frameborder => "0", :height => "607", :scrolling => "no", :src => "http://cdn.livestream.com/embed/e4egreatroom?layout=4&height=607&color=#343434&autoPlay=false&mute=false&iconColorOver=0xe17b00&iconColor=#F1CA64&width=1000&autoplay=false", :style => "border:0;outline:0", :width => "1000"}

    %div{:style => "font-size: 11px;padding-top:10px;text-align:center;width:1000px"}
      Watch
      %a{:href => "http://www.livestream.com/?utm_source=lsplayer&utm_medium=embed&utm_campaign=footerlinks", :title => "live streaming video"} live streaming video
      from
      %a{:href => "http://www.livestream.com/e4egreatroom?utm_source=lsplayer&utm_medium=embed&utm_campaign=footerlinks", :title => "Watch engineers4engineers at livestream.com"} E4E - Great Room
      at livestream.com
    %br
    %iframe{:frameborder => "0", :height => "607", :scrolling => "no", :src => "http://cdn.livestream.com/embed/e4egroundfloor1?layout=4&color=#343434&autoPlay=false&mute=false&iconColorOver=0xe17b00&iconColor=#F1CA64&height=607&width=1000&autoplay=false", :style => "border:0;outline:0", :width => "1000"}
    %div{:style => "font-size: 11px;padding-top:10px;text-align:center;width:1000px"}
      Watch
      %a{:href => "http://www.livestream.com/?utm_source=lsplayer&utm_medium=embed&utm_campaign=footerlinks", :title => "live streaming video"} live streaming video
      from
      %a{:href => "http://www.livestream.com/e4egroundfloor1?utm_source=lsplayer&utm_medium=embed&utm_campaign=footerlinks", :title => "Watch engineers4engineers at livestream.com"} E4E - Ground Floor 1
      at livestream.com
    %br
    %iframe{:frameborder => "0", :height => "607", :scrolling => "no", :src => "http://cdn.livestream.com/embed/e4egroundfloor2?layout=4&height=607&color=#343434&autoPlay=false&mute=false&iconColorOver=0xe17b00&iconColor=#F1CA64&width=1000&autoplay=false", :style => "border:0;outline:0", :width => "1000"}
    %div{:style => "font-size: 11px;padding-top:10px;text-align:center;width:1000px"}
      Watch
      %a{:href => "http://www.livestream.com/?utm_source=lsplayer&utm_medium=embed&utm_campaign=footerlinks", :title => "live streaming video"} live streaming video
      from
      %a{:href => "http://www.livestream.com/e4egroundfloor2?utm_source=lsplayer&utm_medium=embed&utm_campaign=footerlinks", :title => "Watch engineers4engineers at livestream.com"} E4E - Ground Floor 2
      at livestream.com
    %section.schedule#schedule
      .headline
        %h2 Schedule
      %div
        %ul.tabs
          %li
            %a{href: '#great-room'} Ground Floor 2
          %li
            %a{href: '#floor-2'} Great Room
          %li
            %a{href: '#floor-1'} Ground Floor 1
          %li
            %a{href: '#atrium'} South Atrium
        %ul.tab-container#great-room
          %li
            .summary
              %span.time 10:05 - 10:15
              .desc
                %span.location Ground Floor 2
                %h4 Introduction
            .speakers
              %div
                %img{src: '/assets/AnthonyCapone.png'}
                %a{href: '#'} Anthony Capone
                %span.company Constant Contact
          %li
            .summary
              %span.time 10:15 - 10:45
              .desc
                %span.location Ground Floor 2
                %h4 Keynote - Coding Team Culture
                %p
                  This is a talk about development mindsets -- not methodologies.  We'll explore one of the most important predictors of a dev team's success -- the culture code that is at the heart of how people work, and what they expect from each other.
            .speakers
              %div
                %img{src: '/assets/DharmeshShah.png'}
                %a{href: '#'} Dharmesh Shah
                %span.company HubSpot
          %li
            .summary
              %span.time 10:45 - 11:00
              .desc
                %span.location Snack
          %li
            .summary
              %span.time 11:00 - 11:45
              .desc
                %span.location Ground Floor 2
                %h4 Increasing Developer Productivity
                %p
                  Ever had one of those days where you're frustrated at how little you got done? 

                %p
                  Same here. But it happens less than it used to. 

                %p
                  This talk is about a few of the tricks that have helped move the needle on my productivity. Some will be micro-focused, like handy vim commands. Others, more macro, like how to firewall your attention. Expect a grab-bag of ideas from which you can pick and choose.
            .speakers
              %div
                %img{src: '/assets/BenOrenstein.png'}
                %a{href: '#orenstein'} Ben Orenstein
                %span.company thoughtbot
          %li
            .summary
              %span.time 12:00 - 12:30
              .desc
                %span.location Ground Floor 2
                %h4 High Performance Ruby
                %p
                  Ruby has proven itself as an excellent language for fast development
                  and easy iteration of many types of projects, but tradtionally it has
                  not been viewed as a high-performance platform. In this talk, we'll
                  discuss why this is the case, what implementations like JRuby are
                  doing to change it, and how you can write better, faster, more
                  scalable Ruby code today on any implementation.
            .speakers
              %div
                %img{src: '/assets/CharlesNutter.png'}
                %a{href: '#nutter'} Charles Nutter
                %span.company JRuby/Redhat
          %li
            .summary
              %span.time 2:00 - 2:45
              .desc
                %span.location Ground Floor 2
                %h4 Everything you always wanted to know about web standards (but were afraid to ask)
                %p
                  Coming Soon!
            .speakers
              %div
                %img{src: '/assets/LeaVerou.png'}
                %a{href: '#verou'} Lea Verou
                %span.company W3C
          %li
            .summary
              %span.time 3:10 - 3:45
              .desc
                %span.location Ground Floor 2
                %h4 Fighting Robots and Flying Cement
                %p
                  Programming is a struggle to build reliable systems. Yet much of it
                  remains a black art: There's the hacked together program that seems to
                  work despite all that fate and an unreliable network can throw at it.
                  And then there is the carefully designed technical masterpiece that
                  goes catatonic for no apparent reason.
                %p
                  In this talk, Russ Olsen steps back from the details of gems and VMs
                  and memory management to look at some of the successful - and not so
                  successful - systems of the past. What does the early days of the
                  airplane have to tell us about scaling a Rails application? What can a
                  run away nuclear reactor tell us about running a network? And what do
                  two little robotic turtles have to do with any of this?
            .speakers
              %div
                %img{src: '/assets/RussOlsen.png'}
                %a{href: '#olsen'} Russ Olsen
                %span.company Eloquent Ruby
          %li
            .summary
              %span.time 4:45 - 7:30
              .desc
                %span.location Social
                %h4 Watch City Brewery - 256 Moody St, Waltham, MA
                %p
                  Join us for a few drinks at Watch City Brewery sponsored by 
                  %a{href:'http://www.launchacademy.com/'}Launch Academy.
                  Feel free to head over on your own or grab one of our shuttles which will be leaving Constant Contact at 4:30pm.  
            .speakers
              %div
                %iframe{:frameborder => "0", :height => "190", :marginheight => "0", :marginwidth => "0", :scrolling => "no", :src => "https://www.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=Watch+City+Brewing+Company,+256+Moody+Street,+Waltham,+MA&aq=0&oq=watch&sll=42.371788,-71.23664&sspn=0.012619,0.022402&ie=UTF8&hq=Watch+City+Brewing+Company,+256+Moody+Street,+Waltham,+MA&t=m&ll=42.399629,-71.272087&spn=0.048171,0.081024&z=12&output=embed", :width => "235"}
                %br/
                %small
                  %a{:href => "https://www.google.com/maps?f=q&source=embed&hl=en&geocode=&q=Watch+City+Brewing+Company,+256+Moody+Street,+Waltham,+MA&aq=0&oq=watch&sll=42.371788,-71.23664&sspn=0.012619,0.022402&ie=UTF8&hq=Watch+City+Brewing+Company,+256+Moody+Street,+Waltham,+MA&t=m&ll=42.399629,-71.272087&spn=0.048171,0.081024&z=12", :style => "color:#0000FF;text-align:left"} View Larger Map
        %ul.tab-container#floor-2
          %li
            .summary
              %span.time 10:45 - 11:00
              .desc
                %span.location Snack
          %li
            .summary
              %span.time 11:00 - 11:45
              .desc
                %span.location Great Room
                %h4 Next-Generation JavaScript Language Tooling
                %p
                  Web applications written in JavaScript rapidly grow in size and complexity.
                %p
                  Ensuring and tracking the quality of such large-scale complex applications is daunting, especially given the lack of proper language tooling. Even in 2013 our tricks of the trade are unfortunately still at the level of “missing semicolon” check.
                %p
                  In this presentation, a new trend in emerging composeable JavaScript language tools will be highlighted. Armed with these tools, a wide range of development and maintenance workflows, designed for the new breed of web applications, can be established: Simple static analysis, run-time complexity profiling, syntax augmentation/transformation, dynamic code analysis, as well as an end-to-end strategy for application testing."
            .speakers
              %div
                %img{src: '/assets/AriyaHidayat.png'}
                %a{href: '#hidayat'} Ariya Hidayat
                %span.company Phantom JS
          %li
            .summary
              %span.time 11:50 - 12:45
              .desc
                %span.location Great Room
                %h4 The Future of JavaScript Modules
                %p
                  Official JavaScript Modules (aka “ES6 modules”) are still years away from actual use in browsers and server-side environments. However, you don't have to wait. In this talk we'll look at two practical strategies to enjoy the advantages of JavaScript modules today and discuss the “pros and cons” of each. 
                %p
                  Strategy 1: author modules in ES6 format, but debug, test, and deploy modules that have been automatically converted to Asynchronous Module Definition, the leading cross-environment JavaScript module format. 
                %p
                  Strategy 2: author, develop, and deploy AMD or CommonJS modules that syntactically and semantically mimic ES6 modules. Later, when ES6 is ready for widespread use, transform your modules with little or no refactoring. 
            .speakers
              %div
                %img{src: '/assets/JohnHann.png'}
                %a{href: '#hann'} John Hann
                %span.company Co-founder of cujoJS
          %li
            .summary
              %span.time 2:00 - 2:45
              .desc
                %span.location Great Room
                %h4 Pain, suffering, and oop
                %p Facets of Object Oriented Software design hark back to the early days of modern software development.  Let's look back at where we've come from and where we're headed.
            .speakers
              %div
                %img{src: '/assets/HawkNewton.png'}
                %a{href: '#newton'} Hawk Newton
                %span.company Constant Contact
          %li
            .summary
              %span.time 3:10 - 3:45
              .desc
                %span.location Great Room
                %h4 Bringing Lean Startup Culture to a Publicly Traded Company
                %p Why do large companies operate differently than small, garage startups? What lessons can large companies take from startups to not only be more nimble, but reduce development risk for both new and established products? In this session we will take a journey from the acquisition of MobManager, to the launch of Constant Contact's SaveLocal product. We'll talk about in-product A/B split testing, non-scalable ways to test product changes, and lessons learned. We'll even take a peek at what happens when you let developers talk to customers!
            .speakers
              %div
                %img{src: '/assets/ChrisLee.png'}
                %a{href: '#lee'} Chris Lee
                %span.company Constant Contact
          %li
            .summary
              %span.time 4:45 - 7:30
              .desc
                %span.location Social
                %h4 Watch City Brewery - 256 Moody St, Waltham, MA
                %p
                  Join us for a few drinks at Watch City Brewery sponsored by 
                  %a{href:'http://www.launchacademy.com/'}Launch Academy.
                  Feel free to head over on your own or grab one of our shuttles which will be leaving Constant Contact at 4:30pm.  
            .speakers
              %div
                %iframe{:frameborder => "0", :height => "190", :marginheight => "0", :marginwidth => "0", :scrolling => "no", :src => "https://www.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=Watch+City+Brewing+Company,+256+Moody+Street,+Waltham,+MA&aq=0&oq=watch&sll=42.371788,-71.23664&sspn=0.012619,0.022402&ie=UTF8&hq=Watch+City+Brewing+Company,+256+Moody+Street,+Waltham,+MA&t=m&ll=42.399629,-71.272087&spn=0.048171,0.081024&z=12&output=embed", :width => "235"}
                %br/
                %small
                  %a{:href => "https://www.google.com/maps?f=q&source=embed&hl=en&geocode=&q=Watch+City+Brewing+Company,+256+Moody+Street,+Waltham,+MA&aq=0&oq=watch&sll=42.371788,-71.23664&sspn=0.012619,0.022402&ie=UTF8&hq=Watch+City+Brewing+Company,+256+Moody+Street,+Waltham,+MA&t=m&ll=42.399629,-71.272087&spn=0.048171,0.081024&z=12", :style => "color:#0000FF;text-align:left"} View Larger Map
        %ul.tab-container#floor-1
          %li
            .summary
              %span.time 10:45 - 11:00
              .desc
                %span.location Snack
          %li
            .summary
              %span.time 11:00 - 11:45
              .desc
                %span.location Ground Floor 1
                %h4 Dev to DevOps
                %p
                  For many developers, DevOps is suddenly everywhere. What is it, where did it come from, and why should we be excited?

                %p
                  A high level look at the culture of DevOps: it's origins, ideology, tools, and accomplishments.
            .speakers
              %div
                %img{src: '/assets/DinshawGobhai.png'}
                %a{href: '#gobhai'} Dinshaw Gobhai
                %span.company Constant Contact
          %li
            .summary
              %span.time 11:50 - 12:20
              .desc
                %span.location Ground Floor 1
                %h4 Scale out strategy at Constant Contact. What we've done and are going to do.
                %p
                  The story of scalability at Constant Contact.
                %p
                  Three years ago, we faced the challenge of transforming Constant Contact from a single product, vertically scaling company to a multi-product, horizontally scaling SAAS company.
                %p
                  This is the story of what we have done, how we transformed our technology stack and architecture. Finally, we'll talk about the benefits we gained and an our vision going forward.
            .speakers
              %div
                %img{src: '/assets/StefanPiesche.png'}
                %a{href: '#piesche'} Stefan Piesche
                %span.company Constant Contact
          %li
            .summary
              %span.time 2:00 - 2:45
              .desc
                %span.location Ground Floor 1
                %h4 Web Development with Vagrant
                %p
                  Many developers today still manually set up development environments by hand: manually installing servers, following some unclear README, etc. In this talk, I present Vagrant, a tool for automatically creating development environments, as a way to bring repeatability and stability to your entire team's development environments. The benefits of Vagrant are far reaching, affecting developers, operations, and the overall business.
            .speakers
              %div
                %img{src: '/assets/MitchellHashimoto.png'}
                %a{href: '#hashimoto'} Mitchell Hashimoto
                %span.company Vagrant
          %li
            .summary
              %span.time 3:10 - 3:45
              .desc
                %span.location Ground Floor 1
                %h4 Getting the most from Grunt
                %p
                  Are you interested in employing best-practice approaches to JavaScript development like linting your code, running unit tests, and building or deploying files, but haven't quite figured out an easy way to incorporate all these moving parts into a sane development process? In this talk, Ben Alman will demonstrate how to accomplish this using Grunt, the JavaScript Task Runner.
            .speakers
              %div
                %img{src: '/assets/BenAlman.png'}
                %a{href: '#alman'} Ben Alman
                %span.company Bocoup
          %li
            .summary
              %span.time 4:45 - 7:30
              .desc
                %span.location Social
                %h4 Watch City Brewery - 256 Moody St, Waltham, MA
                %p
                  Join us for a few drinks at Watch City Brewery sponsored by 
                  %a{href:'http://www.launchacademy.com/'}Launch Academy.
                  Feel free to head over on your own or grab one of our shuttles which will be leaving Constant Contact at 4:30pm.  
            .speakers
              %div
                %iframe{:frameborder => "0", :height => "190", :marginheight => "0", :marginwidth => "0", :scrolling => "no", :src => "https://www.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=Watch+City+Brewing+Company,+256+Moody+Street,+Waltham,+MA&aq=0&oq=watch&sll=42.371788,-71.23664&sspn=0.012619,0.022402&ie=UTF8&hq=Watch+City+Brewing+Company,+256+Moody+Street,+Waltham,+MA&t=m&ll=42.399629,-71.272087&spn=0.048171,0.081024&z=12&output=embed", :width => "235"}
                %br/
                %small
                  %a{:href => "https://www.google.com/maps?f=q&source=embed&hl=en&geocode=&q=Watch+City+Brewing+Company,+256+Moody+Street,+Waltham,+MA&aq=0&oq=watch&sll=42.371788,-71.23664&sspn=0.012619,0.022402&ie=UTF8&hq=Watch+City+Brewing+Company,+256+Moody+Street,+Waltham,+MA&t=m&ll=42.399629,-71.272087&spn=0.048171,0.081024&z=12", :style => "color:#0000FF;text-align:left"} View Larger Map
        %ul.tab-container#atrium
          %li
            .summary
              %span.time 8:00 AM
              .desc
                %h4 Registration
          %li
            .summary
              %span.time 12:20 - 1:45
              .desc
                %span.location South Atrium
                %h4 Lunch
          %li
            .summary
              %span.time 2:45 - 3:10
              .desc
                %span.location South Atrium
                %h4 Late Day Snack
          %li
            .summary
              %span.time 3:45 - 4:00
              .desc
                %span.location South Atrium
                %h4 Closing Comments
          %li
            .summary
              %span.time 3:45 - 7:30
              .desc
                %span.location Social
                %h4 Watch City Brewery - 256 Moody St, Waltham, MA
                %p
                  Join us for a few drinks at Watch City Brewery sponsored by 
                  %a{href:'http://www.launchacademy.com/'}Launch Academy.
                  Feel free to head over on your own or grab one of our shuttles which will be leaving Constant Contact at 4:30pm.  
            .speakers
              %div
                %iframe{:frameborder => "0", :height => "190", :marginheight => "0", :marginwidth => "0", :scrolling => "no", :src => "https://www.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=Watch+City+Brewing+Company,+256+Moody+Street,+Waltham,+MA&aq=0&oq=watch&sll=42.371788,-71.23664&sspn=0.012619,0.022402&ie=UTF8&hq=Watch+City+Brewing+Company,+256+Moody+Street,+Waltham,+MA&t=m&ll=42.399629,-71.272087&spn=0.048171,0.081024&z=12&output=embed", :width => "235"}
                %br/
                %small
                  %a{:href => "https://www.google.com/maps?f=q&source=embed&hl=en&geocode=&q=Watch+City+Brewing+Company,+256+Moody+Street,+Waltham,+MA&aq=0&oq=watch&sll=42.371788,-71.23664&sspn=0.012619,0.022402&ie=UTF8&hq=Watch+City+Brewing+Company,+256+Moody+Street,+Waltham,+MA&t=m&ll=42.399629,-71.272087&spn=0.048171,0.081024&z=12", :style => "color:#0000FF;text-align:left"} View Larger Map
    %section.speakers#speakers
      .headline
        %h2 Speakers
      %ul.speaker-list
        %li.row
          %ul
            %li#shah
              %img{src: '/assets/DharmeshShah.png'}
              .desc
                %span.speaker Dharmesh Shah
                %span.company Co-Founder & CTO of Hubspot
                %p
                  Dharmesh is co-founder and CTO of 
                  %a{href:'http://www.hubspot.com/'}HubSpot 
                  \. He is the co-author of 
                  %a{href:'http://www.amazon.com/dp/0470499311?tag=hubspot-20&camp=0&creative=0&linkCode=as1&creativeASIN=0470499311&adid=0KFA9WZWBF6M6Z8RYF41'}"Inbound Marketing: Get Found Using Google, Social Media and Blogs" 
                  published by Wiley. The book was a runaway hit and has been translated to 8 languages.
                  He also authors 
                  %a{href:'http://onstartups.com/'}OnStartups.com 
                  , a popular startup blog with over 290,000 members in its online community. He is an active member of the Boston area entrepreneurial community, an angel investor in over 30 startups, and a frequent speaker on the topic of startups and inbound marketing.
            %li#nutter
              %img{src: '/assets/CharlesNutter.png'}
              .desc
                %span.speaker Charles Nutter
                %span.company Creator of JRuby
                %p
                  Charles works on JVM languages at 
                  %a{href:'http://www.redhat.com/'} Red Hat
                  , focusing on Ruby but expanding to other languages soon He has worked on
                  %a{href:'http://jruby.org/'} JRuby 
                  for the past eight years and has been a JVM enthusiast since Java 1.0. Charles hopes to make JRuby the best Ruby implementation for high performance, big data, and heavy loads, and to use lessons learned from JRuby to help the JVM and other languages that run on it meet their potential.
            %li#olsen
              %img{src: '/assets/RussOlsen.png'}
              .desc
                %span.speaker Russ Olsen
                %span.company Author of Eloquent Ruby
                %p Russ has coded in everything from assembly language to Ruby and Clojure and is a developer and architect at the consulting firm Relevance. Russ is also the  author of "Eloquent Ruby" and 'Design Patterns In Ruby'.
            %li#hasimoto
              %img{src: '/assets/MitchellHashimoto.png'}
              .desc
                %span.speaker Mitchell Hashimoto
                %span.company Creator of Vagrant
                %p Mitchell is best known as the creator of Vagrant and founder of HashiCorp. He is also an O'Reilly author and professional speaker. He is one of the top GitHub users by followers, activity, and contributions.
        %li.row
          %ul
            %li#orenstein
              %img{src: '/assets/BenOrenstein.png'}
              .desc
                %span.speaker Ben Orenstein
                %span.company Developer at thoughtbot
                %p
                  Ben loves traveling light, wearing wool, and sharing what he knows about programming. He works at thoughtbot in Boston.
 
                %p
                  You might know him as host of the Giant Robots Podcast, a fervent vim evangelist, or preacher of the virtues of live coding.
            %li#hidayat
              %img{src: '/assets/AriyaHidayat.png'}
              .desc
                %span.speaker Ariya Hidayat
                %span.company Creator of PhantomJS
                %p 
                  Ariya is a passionate engineer interested in bleeding-edge technologies. He has been involved in various large projects, from KDE to WebKit. These days, his focus is mostly on software craftsmanship around web technologies. His (little) spare time is spent running the projects
                  %a{href:'http://www.phantomjs.org/'}
                    PhantomJS 
                  (headless WebKit) and 
                  %a{href:'http://esprima.org/doc/index.html'}
                    Esprima
                  (JavaScript parser).
            %li#hann
              %img{src: '/assets/JohnHann.png'}
              .desc
                %span.speaker John Hann
                %span.company Co-founder of cujoJS
                %p 
                  John has been pushing the limits of the web since 1996 and has been totally engulfed in Javascript, HTML, and CSS since 2004. Notable achievements include Ajax-ish and JSON-RPC-like browser apps way back in 1999 (US Patent 7,016,751), composable Javascript constructors for creating draggable modal dialogs in 2004, and a Javascript non-preemptive multi-tasking framework in 2007. John now codes tenaciously on cujoJS, the Javascript architectural toolkit: 
                  %a{href:'http://cujojs.com'}http://cujojs.com
            %li#verou
              %img{src: '/assets/LeaVerou.png'}
              .desc
                %span.speaker Lea Verou
                %span.company Developer Advocate for W3C
                %p
                  Lea works as a Developer Advocate for 
                  %a{href:'http://w3.org'}W3C
                  \. She has a long-standing passion for open web standards, which she fulfills by researching new ways to use them,
                  %a{href:'http://lea.verou.me'}blogging
                  , 
                  %a{href:'http://lea.verou.me/speaking'}speaking
                  , 
                  %a{href:'http://lea.verou.me/publications'}writing
                  , and coding popular open source 
                  %a{href:'http://lea.verou.me/projects/'}projects 
                  to help fellow developers. She is a member of the 
                  %a{href:'http://www.w3.org/Style/CSS/members.en.php3'}CSS Working Group
                  , which architects the language itself.
        %li.row
          %ul
            %li#alman
              %img{src: '/assets/BenAlman.png'}
              .desc
                %span.speaker Ben Alman
                %span.company Creator of Grunt
                %p
                  Ben has created and maintains 
                  %a{href: 'http://gruntjs.com/'} Grunt
                  , along with a number of other popular open source JavaScript projects and jQuery plugins and is a frequent contributor to the open source jQuery, jQuery Mobile and Modernizr projects.
            %li#piesche
              %img{src: '/assets/StefanPiesche.png'}
              .desc
                %span.speaker Stefan Piesche
                %span.company CTO at Constant Contact
                %p Stefan Piesche is the CTO of Constant Contact. Prior to Constant Contact, Piesche spent eight years at the Cobalt Group, where he was executive director of enterprise architecture and chief architect. While there, he developed and drove corporate technology strategy and provided technical direction, design, and architecture for all product development.
              %li#newton
                %img{src: '/assets/HawkNewton.png'}
                .desc
                  %span.speaker Hawk Newton
                  %span.company Architect at Constant Contact
                  %p Hawk grew up on the ops side of the house and has a passion for robust operationally-sound software.  When he's not working to close the gap between the dev and ops kids, he's helping teams write awesome software.
              %li#lee
                %img{src: '/assets/ChrisLee.png'}
                .desc
                  %span.speaker Chris Lee
                  %span.company Principal Engineer at Constant Contact
                  %p Christopher Lee is a Principal Software Engineer and Team Lead at Constant Contact. He was the technical co-founder of MobManager.com, which was acquired by ConstantContact in 2012. He was an Enterprise Java Distributed Systems engineer before getting his first exposure to Ruby on Rails around 2006. After that, he left the Java world and never looked back.
          %li.row
            %ul
              %li#gobhai
                %img{src: '/assets/DinshawGobhai.png'}
                .desc
                  %span.speaker Dinshaw Gobhai
                  %span.company Principal Engineer at Constant Contact
                  %p
  %footer
    %ul.mobile-nav#mobile-menu
      %li
        %a{href: '#top'} Back to top
      %li
        %a{href: '#attend'} Attend
      %li
        %a{href: '#schedule'} Schedule
      %li
        %a{href: '#speakers'} Speakers
