@import '../../global-stylesheet/global';

body {
	background: $darktan;

	#app-container {

		header {

			span {
				@include position(absolute, 15px 0 0 10px);
				font-size: 2em;
				color: $grey;
			}

			h1 {
				padding: 7px 0;
			}
		}

		form {
			margin-top: 2.5%;
		}

		p {
			text-align: center;

			> a {
				width: 90%;				
				margin: 20px auto;
				color: #999999;
			}
		}
	}
}