// Style variables

// Colors
$green: #52c4b3;
$grey: #bdcad2;
$greenGray: #33454e; //Header background
$ctaColor: #f2775a;
$lightGray: #bcc9d0;
$darkGray-bground: #ecf0f2;
$liteGray-bground: #f4f6f7;